.menu{
    animation-name: menu;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes menu{
    0%{
        left: -100px;
    }
    100%{
        left: 0;
    }
}

/*======notifi hide show toogle class====== */
.toogle{
	margin-right: -300px;
	transition: 0.5s linear;
}


.container{
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    opacity: 0;
}
@keyframes content {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}












