@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
    /* ========== text color ============== */
	--primary: #2e384d;
    --secondary: #8798ad;
    --border: #2e5bff;
    --spacer: #8c54ff;
    --red: #e84b51;
    --green: #2db744;

    /* ========== Background color ======== */
    --bg-primary: #f4f6fc;
    --bg-secondary: #ffffff;
    
    /* ========== Font weight ============= */
	--light-300: 300;
	--regular-400: 400;
	--medium-500: 500;
    --semi-bold-600: 600;

}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

h1, h2, h3,
h4, h5, h5,
p {
	margin: 0;
}

/*====Now default font size is 10 px. 1rem = 10px====*/

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body{
	font-family: 'Rubik', sans-serif;
	text-rendering: optimizeLegibility;
	background-color: var(--bg-primary);
}

/* ====== STARTING MAIN LAYOUT DESIGN ======== */

/* ======= STARTING HEADER SECTION===========*/

header{
	width: 100%;
	height: 7rem;
	background-color: var(--bg-secondary);
}
header>.row{
	display: flex;
	justify-content: space-between;
}
.row>.icon{
	display: inline-block;
	margin-left: 19rem;
	margin-top: 2rem;
}
.icon>h1{
	display: inline-block;
}
.row>.avatar{
	margin: 2rem 8rem 0 0;
}
.avatar>a>img{
	width: 3rem;
	margin-right: 3rem;
}

/* =======CONTENT SECTION START============== */
.container{
	width: 80%;
	height: 140vh;
	margin: 6.7rem 0 0 19.5rem;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 40rem 52.3rem 46.3rem;
	grid-gap:3.7rem;
}

/* ======CONTENT SECTION GRID LAYOUT====== */
.progress{
	grid-row: 1/2;
	grid-column: 1/-1;
}
.map{
	background-color: var(--bg-secondary);
	grid-row: 2/3;
	grid-column: 1/-1;
	position: relative;
}
.card{
	grid-row: 3/4;
	grid-column: 1/-1;
}
.progress>.welcome{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 24rem auto ;
	grid-gap: 2rem;
}
.welcome>.score{
	background-color: var(--bg-secondary);
	grid-column: 1/3;
	display: flex;
}
.chart{
	background-color: var(--bg-secondary);
	grid-column: 3/-1;
	grid-row: 1/3;
	height: 40rem;
}
.cars{
	background-color: var(--bg-secondary);
	height: 14rem;
}
.mi{
	background-color: var(--bg-secondary);
	height: 14rem;
}

/* ==== PROGRESS SECTION ====== */
.score>.spacer1{
	margin: 4% 0 0 2%;
	flex-basis: 50%;
	height: 100%;
	text-align: center;
	position: relative;
}
.spacer1>img{
	width: 90%;
	height: 80%;
	object-fit: contain;
}
.spacer1>.mid{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mid>h1{
	font-size: 4rem;
	font-weight: var(--light-300);
}
.mid>p{
	font-size: 2rem;
	color: var(--secondary);
}
.score>.spacer2{
	margin-top: 5%;
	margin-left: 3%;
	flex-basis: 50%;
	height: 100%;
	text-align: left;
}
.spacer2>h1{
	font-size: 4rem;
	font-weight: var(--light-300);
}
.spacer2>p{
	font-size: 2rem;
	color: var(--secondary);
}

/* ========= FLOW CHART ======= */
.chart>.flow-chart{
	width: 100%;
	height: 100%;
	padding: 2rem;
	
}
.chart>.flow-chart>p{
	font-size: 2rem;
	color: var(--secondary);
	margin-left: 3rem;
}
.flow-chart>img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
/* ======= cars ======== */
.welcome>.cars{
	padding: 2rem;
}
.cars>h4{
	font-size: 2rem;
	color: var(--secondary);
	text-transform: uppercase;
	font-weight: var(--medium-500);
}
.cars>h1{
	font-size: 3rem;
	font-weight: var(--light-300);
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.cars>i{
	color: var(--red);
	transform: rotate(45deg);
	font-size: 2rem;
	
}
.cars>span{
	color: var(--red);
	font-size: 2rem;
}

/* ======= mi ========= */
.welcome>.mi{
	padding: 2rem;
}
.mi>h4{
	font-size: 2rem;
	color: var(--secondary);
	text-transform: uppercase;
	font-weight: var(--medium-500);
}
.mi>h1{
	font-size: 3rem;
	font-weight: var(--light-300);
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.mi>i{
	color: var(--green);
	transform: rotate(-45deg);
	font-size: 2rem;
}
.mi>span{
	color: var(--green);
	font-size: 2rem;
}

/* ======== MAP SECTION START =========*/
.container>.map>p{
	padding: 2.2rem;
	font-size: 2rem;
	color: var(--secondary);
}
.map>img{
	width: 100%;
	height: 87%;
	object-fit: cover;
}
.map>.split{
	position: absolute;
	bottom: 2rem;
	right: 0;
}
.split>.split1{
	width: 32rem;
	height: 7rem;
	background-color: var(--bg-secondary);
	margin-bottom: 2rem;
	padding: 2.5rem;
}
.split1>h5{
	font-size: 1rem;
}
.split1>span{
	font-size: 1rem;
	color: var(--secondary);
}

/* ======= CARD SECTION START ======== */
/* ======GRID LAYOUT===== */
.card>.main-card{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 2rem;
	grid-template-rows: 46rem;
}
.main-card>.card-item{
	grid-column: 1/3;
	background-color: var(--bg-secondary);
	padding: 2rem;
}
.main-card>.trips{
	grid-column: 3/5;
	background-color: var(--bg-secondary);
}
.main-card>.service{
	grid-column: 5/-1;
	background-color: var(--bg-secondary);
}
.card-item>.top-item{
	display: flex;
	justify-content: space-between;
}
.top-item>p{
	font-size: 2rem;
	color: var(--secondary);
	text-transform: uppercase;
}
.top-item>img{
	object-fit: contain;
}


































/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
